*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider__navi {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi button {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0, 0, 0, 1);

	&:hover {
		cursor: pointer;
	}
}

.slider__navi button.active {
	background: #ffd700;
}

body {
	position: relative;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.text--big {
	font-family: 'Poppins', sans-serif;
	font-size: 5.5em;
	font-weight: 600;
	line-height: 50px;
	margin-left: -8px;
}

.text--normal {
	font-size: 13px;
	color: rgba(255, 255, 255, 1);
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	z-index: -1;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -100px;
	color: rgba(0, 0, 0, 0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
	background: #3e9fe6;
}

.flex--piplup .flex__item--right {
	background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
	background: #f8d41f;
}

.flex--pikachu .flex__item--right {
	background: #f4ecc5;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
	background: #f64f37;
}

.flex--blaziken .flex__item--right {
	background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
	background: #476089;
}

.flex--dialga .flex__item--right {
	background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
	background: #424242;
}

.flex--zekrom .flex__item--right {
	background: #a7bcbb;
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;

	a {
		color: #ffd700;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 4px;
		font-family: sans-serif;
		text-decoration: none;
		padding: 10px 18px;
		border: 1px solid #ffd700;
		margin-top: 25px;
		float: left;
		animation: fadeIn 1.5s 1.7s backwards;
		white-space: nowrap;

		&:hover {
			background: #ffd700;
			color: #333
		}
	}
}

.pokemon__img {
	z-index: -1;
	position: absolute;
	bottom: 120px;
	right: 0;
	max-height: 30vw;
	border-radius: 1rem;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0, -200%, 0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px, 0, 0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0, 200%, 0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px, 0, 0);
	opacity: 0;
}