.tagcloud {
    font-family: 'Helvetcia Neue', sans-serif;  
    font-size: 14px;
    font-weight: 300;
    margin-left: 30%;
    color: #ffd700;
  }
  .tagcloud--item:hover {
    color: #ffd900a2;
  }

  
  